body{
    margin: 0px;
    background: url(..//imagens/background.png);
    background-size: 100px;
    font-family: 'Arial';
}
#cabec{
    height: 170px;
    width: auto;
    background-color:#00B89A;
}
#menu{
    height: 70px;
    background-color:#1A759F;
    padding-top: 20px;
}
#conteudo{
    height: 1600px;
    width: 1400px;
    border: 1px solid black;
    margin: auto;
    background-color: white;
}
#rodape{
    height: 200px;
    width: 100%;
    background-color:#52B69A;
    display: flex;
    text-align: center;
}
#alinhamento{
    margin-left : -40px;
    border: 0px solid #CCC;
    text-align:center;
}
#sem_quebra{
    white-space: nowrap
}
#com_quebra{
    white-space: normal;
}
#logo{
    width: 400px;
    height: 70px;
    border: 0px solid black;
    float: left;
    margin: 15px 0px 0px 15px;
    display: inline-block;
}
#jargão{
    width: 690px; 
    height: 35px;
    display: inline-block;
    border: 0px solid black;
    margin: 50px 60px 0px 15px ;
    font-size: 40px;
    text-align: center;
}
#pesquisa{
    width: 330px;
    height: 40px;
    float: right;
    border: 3px solid black;
    margin: 50px 140px 0px 10px ;
    padding-top: 10px;
    text-align: center;
    font-family: 'Arial';
    font-size: 25px;
    background-color: white;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: #1A759F ;
    font-family: 'Arial';
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
.menu ul{
    list-style: none;
    position: absolute;
}
.menu ul li{
    width: 150px;
    float: left;
    padding: 50px;
    border: auto solid black;
    white-space: nowrap;
}
.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #D9ED92 ;
    border: 1px solid black;
}
.menu ul ul{
    position: absolute;
    visibility: hidden;
}
.menu ul li:hover ul{
    visibility: visible;
}
.menu a:hover{
    background-color: #1A759F;
    ;  
}
.menu ul ul li{
    float: none;
    border-bottom:  solid 1px #ccc;
}
.menu ul ul li a{
    background-color:  #D9ED92;
}
.menu ul li ul li{
    margin: 0;
    justify-content: center ;
    background-color: red;
    padding: 0;  
}
.social_r{
    width: 50%;
    height: 200px;
    border: 1px  solid black;
}
.fale_r{
    width: 50%;
    height: 200px;
    border: 1px  solid black;
}
/*===============================================*/
/*Não Mecha no codigo acima*/

#titulo {
    margin-left: 550px;
    margin-top: 100px;
    font-size: 40px;
    color: #1A759F;
}

.bloco1 {
    border: 1px solid black;
    width: 380px;
    height: 250px;
    float: left;
}

#MargemBloco1 {
    border-radius: 30px;
    margin-top: 63px;
    margin-left: 100px;
    background: url(..//imagens/RacasCaes1.jpg);
    background-size:cover;
}

.bloco2 {
    border: 1px solid black;
    width: 750px;
    height: 250px;
    float: right;    
}

#MargemBloco2 {
    border-radius: 30px;
    margin-top: 63px;
    margin-right: 100px;    
}

#text1 {
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    line-height: 1.2;
    text-align: justify;
}

#CorLetra1 {
    color: #1A759F;
}

#CorLetra2 {
    color: #52B69A;
}

.bloco3 {
    border: 1px solid black;
    width: 750px;
    height: 250px;
    float: left;    
}

#MargemBloco3 {
    border-radius: 30px;
    margin-top: 63px;
    margin-left: 100px;    
}

.bloco4 {
    border: 1px solid black;
    width: 380px;
    height: 250px;
    float: right;
}

#MargemBloco4 {
    border-radius: 30px;
    margin-top: 63px;
    margin-right: 100px;
    background: url(..//imagens/RacasCaes2.jpg);
    background-size:cover;
}

.bloco5 {
    border: 1px solid black;
    width: 380px;
    height: 250px;
    float: left;
}

#MargemBloco5 {
    border-radius: 30px;
    margin-top: 63px;
    margin-left: 100px;
    background: url(..//imagens/RacasCaes3.jpg); 
    background-size:cover; 
}

.bloco6 {
    border: 1px solid black;
    width: 750px;
    height: 250px;
    float: right;    
}

#MargemBloco6 {
    border-radius: 30px;
    margin-top: 63px;
    margin-right: 100px;  
}

.bloco7 {
    border: 1px solid black;
    width: 750px;
    height: 250px;
    float: left;    
}

#MargemBloco7 {
    border-radius: 30px;
    margin-top: 63px;
    margin-left: 100px;    
}

.bloco8 {
    border: 1px solid black;
    width: 380px;
    height: 250px;
    float: right;
}

#MargemBloco8 {
    border-radius: 30px;
    margin-top: 63px;
    margin-right: 100px;
    background: url(..//imagens/RacasCaes4.jpg);
    background-size:cover;
}